* {
	padding: 0;
	margin: 0;
	box-sizing:border-box;
    background-color: black;
    cursor: none;
}

#main{
    width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

h2 {
    margin: 20px;
    color: red;
}
p{
    word-wrap: break-word;
    text-align: center;
    color: white;
    margin: 20px;

}


article{
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}
